/*
  - Fonts
*/
@font-face {
  font-family: mk1;
  src: url('./assets/fonts/mk1.ttf');
}

@font-face {
  font-family: mk2;
  src: url('./assets/fonts/mk2.ttf');
}

@font-face {
  font-family: mk4;
  src: url('./assets/fonts/mk4.ttf');
}

@font-face {
  font-family: mk5style;
  src: url('./assets/fonts/mk5style.ttf');
}

@font-face {
  font-family: mkda;
  src: url('./assets/fonts/mkda.ttf');
}


@font-face {
  font-family:mkmythmk6;
  src: url('./assets/fonts/mkmyth.ttf');
}


html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url('./assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.muteSounds {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 5px black;
}

/*
  - Board
*/

.board {
  display: flex;
  width: 300px;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #676661;
  -moz-box-shadow:    inset 0 0 10px #a7a599;
  -webkit-box-shadow: inset 0 0 10px #a7a599;
  box-shadow:         inset 0 0 10px #a7a599;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;    
}

.board .square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mk2;
  font-size: 4em;
  text-align: center;
  width: 100px;
  height: 100px;
  border: 2px solid #b4b1ac;
  box-sizing: border-box;  
  color: white; 
  opacity: 1;
  transition: background-color 0.5s, opacity 0.5s, color 0.5s ease;   
}

.board .square.faded {
  opacity: 0.2;
}

.board .squareX {  
  color: #f6cf2c;
}

.board .squareO {  
  color: #6247d2;
}

/*.board .square:nth-child(-n+3) {
  border-top-width: 4px;
}

.board .square:nth-child(1),
.board .square:nth-child(4),
.board .square:nth-child(7) {
  border-left-width: 4px;
}

.board .square:nth-child(3),
.board .square:nth-child(6),
.board .square:nth-child(9) {
  border-right-width: 4px;
}

.board .square:nth-child(+n) {
  border-bottom-width: 4px;
}*/

.board .square:nth-of-type(1) {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}

.board .square:nth-of-type(3) {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.board .square:nth-of-type(7) {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}

.board .square:nth-of-type(9) {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

.board .square:hover {
  cursor: pointer; 
}

.board .square:empty:hover {
  background-color: #8f8c7d; 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.win-color {  
  text-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 10px rgba(201, 197, 192, 0.7) !important;
}

/*
  - Navbar
*/
.navBar {
  background-color: rgba(0,0,0,0.9);
  padding: 1em;
  margin-bottom: 2em;
  color: white;
}

/*
  - Footer
*/
.footer {
  margin-top: 2em;  
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.col-player {
  padding-left: 0;
  text-align: left;
}

.col-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mk2;
  font-size: 2em;
  color: white;
  text-align: center;
}

.col-ai {
  padding-right: 0;
  text-align: right;
}

.avatar.player {
  float: left;
  /*background-image: url('./assets/img/player.jpg');*/
}

.avatar.ai {
  float: right;
  /*background-image: url('./assets/img/ai.jpg');*/
}

.playerInfo,
.aiInfo {  
  font-family: mk1;
  font-size: 2em;
  color: white;  
}

.playerInfo {
  padding: 0 0 0 .5em;
}

.aiInfo {
  padding: 0 .5em 0 0; 
}


.itsTurn {
  box-shadow: 0px 0px 10px red;
  background-color: rgba(255,0,0,0.1);
}

/*
  - Transitions
*/
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

/*
- Responsive???
*/
@media (min-width: 768px) {

  .footer .aiInfo,
  .footer .playerInfo {
    display: inline-block !important;
  }

  .itsTurn .avatar {
    box-shadow: 0px 0px 10px red;
    background-color: rgba(255,0,0,0.1);
  }

  /*.footer .col-player,
  .footer .col-ai {
    display: flex;
    align-items: center;
    justify-content: center;
  }*/

}

@media (max-width: 768px) { 
  .board {
    width: 240px;
  }

  .board .square {
    width: 80px;
    height: 80px;
  }

  /*.footer .col-mid,
  .footer .playerInfo,
  .footer .aiInfo {
    font-size: 1em;
  }*/
}